In [1]:
import pandas as pd 
import geopandas as gp

In [2]:
df_house = pd.read_csv('/home/semipro321/Documents/Workspace/Geospatial-Analysis-on-House-Price-Prediction/Inputs/housev2.csv')

In [3]:
df_house.shape

(15234, 20)

In [4]:
gdp_house = gp.GeoDataFrame(df_house,
                           geometry = gp.points_from_xy(df_house.long,df_house.lat),
                            crs="EPSG:4326")

In [5]:
gdp_house.head()

,lat,long,sqft,parking,mean_district_income,bedrooms_bg,bedrooms_ag,bathrooms,final_price,type_Att/Row/Twnhouse,...,type_Co-Ownership Apt,type_Comm Element Condo,type_Condo Apt,type_Condo Townhouse,type_Detached,type_Link,type_Plex,type_Semi-Detached,type_Store W/Apt/Offc,geometry
0,43.661896,-79.385748,850.0,1,56526,1,2,2,855000,0,...,0,0,1,0,0,0,0,0,0,POINT (-79.38575 43.66190)
1,43.646982,-79.530356,NaN,6,52787,0,3,2,885000,0,...,0,0,0,0,0,0,0,1,0,POINT (-79.53036 43.64698)
2,43.708472,-79.397498,550.0,0,57039,0,1,1,550000,0,...,0,0,1,0,0,0,0,0,0,POINT (-79.39750 43.70847)
3,43.638399,-79.414448,650.0,1,70623,1,1,1,665000,0,...,0,0,1,0,0,0,0,0,0,POINT (-79.41445 43.63840)
4,43.597096,-79.509612,NaN,1,44101,0,2,2,825513,0,...,0,0,0,0,1,0,0,0,0,POINT (-79.50961 43.59710)

In [7]:
hjoins = gp.sjoin(gdp_house, df_nei, how='right',op='within')

In [8]:
hjoins.head()

,index_left,lat,long,sqft,parking,mean_district_income,bedrooms_bg,bedrooms_ag,bathrooms,final_price,...,type_Condo Apt,type_Condo Townhouse,type_Detached,type_Link,type_Plex,type_Semi-Detached,type_Store W/Apt/Offc,neighbourhood,neighbourhood_group,geometry
0,6922,43.753182,-79.507053,NaN,4,29958,1,3,2,930000,...,0,0,1,0,0,0,0,York University Heights,None,"MULTIPOLYGON (((-79.50529 43.75987, -79.50488 ..."
0,7643,43.753090,-79.491536,1300.0,1,29958,0,3,3,413000,...,0,1,0,0,0,0,0,York University Heights,None,"MULTIPOLYGON (((-79.50529 43.75987, -79.50488 ..."
0,5373,43.753090,-79.491536,1300.0,3,29958,1,3,2,400000,...,0,1,0,0,0,0,0,York University Heights,None,"MULTIPOLYGON (((-79.50529 43.75987, -79.50488 ..."
0,13300,43.753177,-79.490821,950.0,1,29958,0,2,1,343000,...,1,0,0,0,0,0,0,York University Heights,None,"MULTIPOLYGON (((-79.50529 43.75987, -79.50488 ..."
0,5767,43.753177,-79.490821,650.0,1,29958,0,1,1,318000,...,1,0,0,0,0,0,0,York University Heights,None,"MULTIPOLYGON (((-79.50529 43.75987, -79.50488 ..."

In [9]:
hjoins.drop(columns=['index_left','neighbourhood_group'], inplace=True)

In [25]:
def spatialjoin(df, dflat, dflong):
    df_nei = gp.read_file('/home/semipro321/Documents/Workspace/Geospatial-Analysis-on-House-Price-Prediction/Inputs/Airbnb/neighbourhoods.geojson')
    gdp = gp.GeoDataFrame(df,
                           geometry = gp.points_from_xy(dflong, dflat),
                            crs="EPSG:4326")
    
    hjoins = gp.sjoin(gdp, df_nei, how='left',op='within')
    return hjoins.drop(columns=['index_right','neighbourhood_group'])

In [26]:
df_school = pd.read_csv('/home/semipro321/Documents/Workspace/Geospatial-Analysis-on-House-Price-Prediction/Inputs/Schools.csv')
df_school.head()

df_school_neigh = spatialjoin(df_school, df_school.LATITUDE, df_school.LONGITUDE)

In [28]:
df_school_neigh.to_csv('Schools_with_neigh.csv', index=False)

In [32]:
df_stop = pd.read_csv('/home/semipro321/Documents/Workspace/Geospatial-Analysis-on-House-Price-Prediction/Inputs/Stops.csv')
df_stop.head()

df_stop_neigh = spatialjoin(df_stop, df_stop.stop_lat, df_stop.stop_lon)

In [36]:
df_stop_neigh.to_csv('Stops_with_neigh.csv', index=False)

In [38]:
df_hos = pd.read_csv('/home/semipro321/Documents/Workspace/Geospatial-Analysis-on-House-Price-Prediction/Inputs/Hospitals.csv')
df_hos.columns

df_hos_neigh = spatialjoin(df_hos, df_hos.Lat, df_hos.Long)

In [39]:
df_hos.shape

(2254, 11)

In [40]:
df_hos_neigh.shape

(2254, 12)

In [41]:
df_hos_neigh.to_csv('Hosptials_with_neigh.csv',index=False)

In [48]:
df_crime = pd.read_csv('/home/semipro321/Documents/Workspace/Geospatial-Analysis-on-House-Price-Prediction/Inputs/Crime/crime.csv')
df_crime.columns

df_crime_neigh = spatialjoin(df_crime, df_crime.Lat, df_crime.Long)

In [52]:
df_crime.shape

(179765, 30)

In [53]:
df_crime_neigh.shape

(179765, 31)

In [54]:
df_crime_neigh.to_csv('crime_with_neigh.csv',index=False)

In [43]:
df_hos_neigh.isna().sum()

Long                    0
Lat                     0
OGF_ID                  0
ENGLISH_NAME            0
ADDRESS_LINE_1          0
ADDRESS_LINE_2        685
ADDRESS_DESCRIPTOR    571
COMMUNITY               0
POSTAL_CODE             0
OBJECTID                0
geometry                0
neighbourhood           0
dtype: int64

In [44]:
df_stop_neigh.isna().sum()

stop_id                  0
stop_name                0
stop_lat                 0
stop_lon                 0
zone_id                  0
stop_url                 0
location_type            0
wheelchair_boarding      0
geometry                 0
neighbourhood          110
dtype: int64

In [45]:
df_school_neigh.isna().sum()

_id                   0
OBJECTID              0
GEO_ID                0
NAME                  0
BOARD_NAME          342
SOURCE_ADDRESS        0
SCHOOL_TYPE_DESC     16
ADDRESS_POINT_ID      0
ADDRESS_NUMBER        0
LINEAR_NAME_FULL      0
ADDRESS_FULL          0
POSTAL_CODE           6
MUNICIPALITY          0
CITY                  0
PLACE_NAME          317
LATITUDE              0
LONGITUDE             0
geometry              0
neighbourhood         0
dtype: int64

In [55]:
df_crime_neigh.isna().sum()

X                        0
Y                        0
Index_                   0
event_unique_id          0
occurrencedate           0
reporteddate             0
premisetype              0
ucr_code                 0
ucr_ext                  0
offence                  0
reportedyear             0
reportedmonth            0
reportedday              0
reporteddayofyear        0
reporteddayofweek        0
reportedhour             0
occurrenceyear           0
occurrencemonth          0
occurrenceday            0
occurrencedayofyear      0
occurrencedayofweek      0
occurrencehour           0
MCI                      0
Division                 0
Hood_ID                  0
Neighbourhood            0
Lat                      0
Long                     0
ObjectId                 0
geometry                 0
neighbourhood          345
dtype: int64