In [1]:
import geopandas as gp
import pandas as pd
import folium

In [2]:
pd.options.display.max_rows = 10000
pd.options.display.max_columns = 100

In [3]:
df_profiles = pd.read_csv('../Data/Cleaned/neighbourhood-profiles.csv')

In [4]:
df_profiles.drop(columns=['_id'], axis=1, inplace=True)

In [5]:
df_profiles.head()

,Category,Topic,Data Source,Characteristic,City of Toronto,Agincourt North,Agincourt South-Malvern West,Alderwood,Annex,Banbury-Don Mills,Bathurst Manor,Bay Street Corridor,Bayview Village,Bayview Woods-Steeles,Bedford Park-Nortown,Beechborough-Greenbrook,Bendale,Birchcliffe-Cliffside,Black Creek,Blake-Jones,Briar Hill-Belgravia,Bridle Path-Sunnybrook-York Mills,Broadview North,Brookhaven-Amesbury,Cabbagetown-South St.James Town,Caledonia-Fairbank,Casa Loma,Centennial Scarborough,Church-Yonge Corridor,Clairlea-Birchmount,Clanton Park,Cliffcrest,Corso Italia-Davenport,Danforth,Danforth East York,Don Valley Village,Dorset Park,Dovercourt-Wallace Emerson-Junction,Downsview-Roding-CFB,Dufferin Grove,East End-Danforth,Edenbridge-Humber Valley,Eglinton East,Elms-Old Rexdale,Englemount-Lawrence,Eringate-Centennial-West Deane,Etobicoke West Mall,Flemingdon Park,Forest Hill North,Forest Hill South,...,Oakridge,Oakwood Village,O'Connor-Parkview,Old East York,Palmerston-Little Italy,Parkwoods-Donalda,Pelmo Park-Humberlea,Playter Estates-Danforth,Pleasant View,Princess-Rosethorn,Regent Park,Rexdale-Kipling,Rockcliffe-Smythe,Roncesvalles,Rosedale-Moore Park,Rouge,Runnymede-Bloor West Village,Rustic,Scarborough Village,South Parkdale,South Riverdale,St.Andrew-Windfields,Steeles,Stonegate-Queensway,Tam O'Shanter-Sullivan,Taylor-Massey,The Beaches,Thistletown-Beaumond Heights,Thorncliffe Park,Trinity-Bellwoods,University,Victoria Village,Waterfront Communities-The Island,West Hill,West Humber-Clairville,Westminster-Branson,Weston,Weston-Pellam Park,Wexford/Maryvale,Willowdale East,Willowdale West,Willowridge-Martingrove-Richview,Woburn,Woodbine Corridor,Woodbine-Lumsden,Wychwood,Yonge-Eglinton,Yonge-St.Clair,York University Heights,Yorkdale-Glen Park
0,Neighbourhood Information,Neighbourhood Information,City of Toronto,Neighbourhood Number,NaN,129,128,20,95,42,34,76,52,49,39,112,127,122,24,69,108,41,57,30,71,109,96,133,75,120,33,123,92,66,59,47,126,93,26,83,62,9,138,5,32,11,13,44,102,101,...,121,107,54,58,80,45,23,67,46,10,72,4,111,86,98,131,89,28,139,85,70,40,116,16,118,61,63,3,55,81,79,43,77,136,1,35,113,91,119,51,37,7,137,64,60,94,100,97,27,31
1,Neighbourhood Information,Neighbourhood Information,City of Toronto,TSNS2020 Designation,NaN,No Designation,No Designation,No Designation,No Designation,No Designation,No Designation,No Designation,No Designation,No Designation,No Designation,NIA,No Designation,No Designation,NIA,No Designation,No Designation,No Designation,No Designation,No Designation,No Designation,No Designation,No Designation,No Designation,No Designation,No Designation,No Designation,No Designation,No Designation,No Designation,No Designation,No Designation,Emerging Neighbourhood,No Designation,NIA,No Designation,No Designation,No Designation,NIA,NIA,Emerging Neighbourhood,No Designation,No Designation,NIA,No Designation,No Designation,...,NIA,No Designation,No Designation,No Designation,No Designation,No Designation,No Designation,No Designation,No Designation,No Designation,NIA,No Designation,NIA,No Designation,No Designation,No Designation,No Designation,NIA,NIA,NIA,No Designation,No Designation,Emerging Neighbourhood,No Designation,No Designation,NIA,No Designation,NIA,NIA,No Designation,No Designation,NIA,No Designation,NIA,No Designation,Emerging Neighbourhood,NIA,NIA,No Designation,No Designation,No Designation,No Designation,NIA,No Designation,No Designation,No Designation,No Designation,No Designation,NIA,Emerging Neighbourhood
2,Population,Population and dwellings,Census Profile 98-316-X2016001,"Population, 2016","27,31,571","29,113","23,757","12,054","30,526","27,695","15,873","25,797","21,396","13,154","23,236","6,577","29,960","22,291","21,737","7,727","14,257","9,266","11,499","17,757","11,669","9,955","10,968","13,362","31,340","26,984","16,472","15,935","14,133","9,666","17,180","27,051","25,003","36,625","35,052","11,785","21,381","15,535","22,776","9,456","22,372","18,588","11,848","21,933","12,806","10,732",...,"13,845","21,210","18,675","9,233","13,826","34,805","10,722","7,804","15,818","11,051","10,803","10,529","22,246","14,974","20,923","46,496","10,070","9,941","16,724","21,849","27,876","17,812","24,623","25,051","27,446","15,683","21,567","10,360","21,108","16,556","7,607","17,510","65,913","27,392","33,312","26,274","17,992","11,098","27,917","50,434","16,936","22,156","53,485","12,541","7,865","14,349","11,817","12,528","27,593","14,804"
3,Population,Population and dwellings,Census Profile 98-316-X2016001,"Population, 2011","26,15,060","30,279","21,988","11,904","29,177","26,918","15,434","19,348","17,671","13,530","23,185","6,488","27,876","21,856","22,057","7,763","14,302","8,713","11,563","17,787","12,053","9,851","10,487","13,093","28,349","24,770","14,612","15,703","13,743","9,444","16,712","26,739","24,363","34,631","34,659","11,449","20,839","14,943","22,829","9,550","22,086","18,810","10,927","22,168","12,474","10,926",...,"13,497","21,073","18,316","9,118","13,746","34,617","8,710","7,653","16,144","11,197","10,007","10,488","22,267","15,050","20,631","45,912","9,632","9,951","16,609","21,251","25,642","17,958","25,017","24,691","27,398","15,594","21,130","10,138","19,225","16,802","7,782","17,182","43,361","26,547","34,100","25,446","18,170","12,010","27,018","45,041","15,004","21,343","53,350","11,703","7,826","13,986","10,578","11,652","27,713","14,687"
4,Population,Population and dwellings,Census Profile 98-316-X2016001,Population Change 2011-2016,4.50%,-3.90%,8.00%,1.30%,4.60%,2.90%,2.80%,33.30%,21.10%,-2.80%,0.20%,1.40%,7.50%,2.00%,-1.50%,-0.50%,-0.30%,6.30%,-0.60%,-0.20%,-3.20%,1.10%,4.60%,2.10%,10.60%,8.90%,12.70%,1.50%,2.80%,2.40%,2.80%,1.20%,2.60%,5.80%,1.10%,2.90%,2.60%,4.00%,-0.20%,-1.00%,1.30%,-1.20%,8.40%,-1.10%,2.70%,-1.80%,...,2.60%,0.70%,2.00%,1.30%,0.60%,0.50%,23.10%,2.00%,-2.00%,-1.30%,8.00%,0.40%,-0.10%,-0.50%,1.40%,1.30%,4.50%,-0.10%,0.70%,2.80%,8.70%,-0.80%,-1.60%,1.50%,0.20%,0.60%,2.10%,2.20%,9.80%,-1.50%,-2.20%,1.90%,52.00%,3.20%,-2.30%,3.30%,-1.00%,-7.60%,3.30%,12.00%,12.90%,3.80%,0.30%,7.20%,0.50%,2.60%,11.70%,7.50%,-0.40%,0.80%

*As the dataset is quite detailed, we plan to create small dummy datasets which we will need*

## *Average income of neighbourhood*

In [6]:
df_income = df_profiles[(df_profiles.Characteristic == 'Neighbourhood Number') | 
                       (df_profiles.Characteristic == 'Total income: Average amount ($)')]

In [7]:
df_income = df_income.T.reset_index()

*Looking the head we exclude 1st few rows to select needed data*

In [8]:
df_income.head(10)

,index,0,2272
0,Category,Neighbourhood Information,Income
1,Topic,Neighbourhood Information,Income sources
2,Data Source,City of Toronto,Catalogue no. 98-400-X2016122
3,Characteristic,Neighbourhood Number,Total income: Average amount ($)
4,City of Toronto,NaN,"52,268"
5,Agincourt North,129,"30,414"
6,Agincourt South-Malvern West,128,"31,825"
7,Alderwood,20,"47,709"
8,Annex,95,"1,12,766"
9,Banbury-Don Mills,42,"67,757"

In [9]:
df_income = df_income.iloc[5:,:]

In [10]:
df_income.columns = ['Neighborhood','Neighborhood Num','Average income']

In [11]:
df_income.reset_index(inplace=True)

In [12]:
df_income.drop(columns=['index'], axis = 1,inplace=True)

In [13]:
df_income.head()

                   Neighborhood Neighborhood Num Average income
0               Agincourt North              129         30,414
1  Agincourt South-Malvern West              128         31,825
2                     Alderwood               20         47,709
3                         Annex               95       1,12,766
4             Banbury-Don Mills               42         67,757

*Change the column types from string to integer*

In [25]:
def strToInt(row):
    return int(row.replace(',',''))

In [28]:
df_income['Average income'] = df_income['Average income'].apply(strToInt)

In [29]:
df_income['Neighborhood Num'] = df_income['Neighborhood Num'].astype(int)

In [30]:
df_income.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 140 entries, 0 to 139
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Neighborhood      140 non-null    object
 1   Neighborhood Num  140 non-null    int64
 2   Average income    140 non-null    int64
dtypes: int64(2), object(1)
memory usage: 3.4+ KB

In [31]:
df_income.to_csv('../Data/Cleaned/Income.csv', index=False)

---
---

## *Ethinic Data*

In [14]:
df_ethinic = df_profiles[(df_profiles.Category == 'Ethnic origin')]

In [15]:
df_ethinic = df_ethinic.T.reset_index()

*drop extra rows*

In [16]:
df_ethinic = df_ethinic.iloc[3:,:]

In [17]:
df_ethinic.head()

,index,1155,1229,1349,1350,1351,1352,1353,1354,1355,1356,1357,1358,1359,1360,1361,1362,1363,1364,1365,1366,1367,1368,1369,1370,1371,1372,1373,1374,1375,1376,1377,1378,1379,1380,1381,1382,1383,1384,1385,1386,1387,1388,1389,1390,1391,1392,1393,1394,1395,...,1576,1577,1578,1579,1580,1581,1582,1583,1584,1585,1586,1587,1588,1589,1590,1591,1592,1593,1594,1595,1596,1597,1598,1599,1600,1601,1602,1603,1604,1605,1606,1607,1608,1610,1611,1612,1613,1614,1615,1616,1617,1618,1619,1620,1621,1622,1623,1624,1625,1626
3,Characteristic,Guadeloupean,Scottish,Total - Ethnic origin for the population in pr...,North American Aboriginal origins,First Nations (North American Indian),Inuit,Mtis,Other North American origins,Acadian,American,Canadian,New Brunswicker,Newfoundlander,Nova Scotian,Ontarian,Qubcois,Portuguese,Other North American origins; n.i.e.,European origins,British Isles origins,Channel Islander,Cornish,English,Irish,Manx,Welsh,British Isles origins; n.i.e.,French origins,Alsatian,Breton,Corsican,French,Western European origins (except French origins),Austrian,Bavarian,Belgian,Dutch,Flemish,Frisian,German,Luxembourger,Swiss,Western European origins; n.i.e.,Northern European origins (except British Isl...,Danish,Finnish,Icelandic,Norwegian,Swedish,...,Turk,Turkmen,Uighur,Uzbek,Yemeni,West Central Asian and Middle Eastern origins...,South Asian origins,Bangladeshi,Bengali,Bhutanese,East Indian,Goan,Gujarati,Kashmiri,Nepali,Pakistani,Punjabi,Sinhalese,Sri Lankan,Indonesian,Tamil,South Asian origins; n.i.e.,East and Southeast Asian origins,Burmese,Cambodian (Khmer),Chinese,Filipino,Japanese,Karen,Korean,Laotian,Malaysian,Mongolian,Singaporean,Taiwanese,Thai,Tibetan,Vietnamese,East and Southeast Asian origins; n.i.e.,Hawaiian,Other Asian origins,Other Asian origins; n.i.e.,Oceania origins,Australian,New Zealander,Pacific Islands origins,Fijian,Polynesian; n.o.s.,Samoan,Pacific Islands origins; n.i.e.
4,City of Toronto,0,"2,56,250","26,91,665","35,630","27,610",515,"8,465","3,45,710","2,315","27,470","3,23,175",50,"1,430",335,375,880,"1,00,415",150,"12,88,850","5,97,295",175,155,"3,31,895","2,62,965",435,"28,210","52,905","1,22,870",265,40,35,"1,22,610","1,87,190","16,145",85,"4,895","41,650",465,235,"1,30,895",125,"7,635",340,"36,720","7,575","8,160","2,310","9,175","10,400",...,"13,345",200,370,"1,020","1,405","4,215","3,50,040","18,155","9,455",125,"2,02,675","1,280","1,990",345,"3,080","36,135","6,205","1,735","58,185","2,950","20,350","18,470","5,86,515","1,200","2,965","3,32,830","1,62,600","17,265",230,"43,455","1,260","2,875","1,090",560,"4,495","1,795","5,430","36,840","1,375",130,"4,605","4,605","5,790","3,705","1,230","1,025",465,65,75,220
5,Agincourt North,0,600,"28,820",40,25,0,10,"1,345",20,40,"1,295",0,10,0,0,0,275,0,"3,055","1,500",0,0,870,425,0,30,110,265,0,0,0,265,350,40,0,10,95,0,0,225,0,0,0,80,20,25,10,35,10,...,40,0,0,0,15,20,"5,260",10,30,0,"2,090",10,20,0,0,230,55,0,"2,230",65,855,225,"18,575",0,10,"16,950","1,465",60,0,100,10,10,0,0,40,0,0,320,20,0,150,135,10,0,0,0,0,0,0,0
6,Agincourt South-Malvern West,0,725,"23,470",105,90,0,25,"1,190",0,70,"1,125",0,0,0,0,0,165,0,"3,770","1,750",0,0,985,620,0,25,110,260,0,0,0,255,425,30,0,0,100,0,0,280,0,30,0,95,50,25,0,10,30,...,30,0,0,0,0,25,"4,170",80,60,0,"2,180",30,10,10,0,410,20,65,"1,145",55,425,185,"13,075",10,0,"11,455","1,405",60,0,145,10,65,45,0,25,0,0,180,10,0,50,55,0,0,0,0,0,0,0,0
7,Alderwood,0,"1,720","12,025",305,200,15,100,"2,355",10,100,"2,245",0,15,0,0,20,740,15,"9,135","3,940",0,0,"2,320","1,900",0,150,235,855,0,0,0,850,"1,150",70,0,20,170,0,0,940,0,50,0,230,55,10,10,115,50,...,25,0,0,0,0,0,575,0,0,0,495,20,0,0,0,50,20,0,30,50,0,10,"1,295",10,0,420,660,50,0,75,0,10,0,0,0,0,110,45,0,0,0,0,0,10,0,0,0,0,0,0

In [18]:
df_ethinic.columns = df_ethinic.iloc[0]

In [19]:
df_ethinic.drop([3,4], inplace=True)

In [20]:
df_ethinic.reset_index(inplace=True)

In [21]:
df_ethinic.drop(columns=['index','Total - Ethnic origin for the population in private households - 25% sample data'], axis = 1,inplace=True)

In [22]:
df_ethinic.rename(columns={"Characteristic": "Neighbourhood"}, inplace=True)

In [23]:
df_ethinic.head()

3,Neighbourhood,Guadeloupean,Scottish,North American Aboriginal origins,First Nations (North American Indian),Inuit,Mtis,Other North American origins,Acadian,American,Canadian,New Brunswicker,Newfoundlander,Nova Scotian,Ontarian,Qubcois,Portuguese,Other North American origins; n.i.e.,European origins,British Isles origins,Channel Islander,Cornish,English,Irish,Manx,Welsh,British Isles origins; n.i.e.,French origins,Alsatian,Breton,Corsican,French,Western European origins (except French origins),Austrian,Bavarian,Belgian,Dutch,Flemish,Frisian,German,Luxembourger,Swiss,Western European origins; n.i.e.,Northern European origins (except British Isles origins),Danish,Finnish,Icelandic,Norwegian,Swedish,Northern European origins; n.i.e.,...,Turk,Turkmen,Uighur,Uzbek,Yemeni,West Central Asian and Middle Eastern origins; n.i.e.,South Asian origins,Bangladeshi,Bengali,Bhutanese,East Indian,Goan,Gujarati,Kashmiri,Nepali,Pakistani,Punjabi,Sinhalese,Sri Lankan,Indonesian,Tamil,South Asian origins; n.i.e.,East and Southeast Asian origins,Burmese,Cambodian (Khmer),Chinese,Filipino,Japanese,Karen,Korean,Laotian,Malaysian,Mongolian,Singaporean,Taiwanese,Thai,Tibetan,Vietnamese,East and Southeast Asian origins; n.i.e.,Hawaiian,Other Asian origins,Other Asian origins; n.i.e.,Oceania origins,Australian,New Zealander,Pacific Islands origins,Fijian,Polynesian; n.o.s.,Samoan,Pacific Islands origins; n.i.e.
0,Agincourt North,0,600,40,25,0,10,"1,345",20,40,"1,295",0,10,0,0,0,275,0,"3,055","1,500",0,0,870,425,0,30,110,265,0,0,0,265,350,40,0,10,95,0,0,225,0,0,0,80,20,25,10,35,10,0,...,40,0,0,0,15,20,"5,260",10,30,0,"2,090",10,20,0,0,230,55,0,"2,230",65,855,225,"18,575",0,10,"16,950","1,465",60,0,100,10,10,0,0,40,0,0,320,20,0,150,135,10,0,0,0,0,0,0,0
1,Agincourt South-Malvern West,0,725,105,90,0,25,"1,190",0,70,"1,125",0,0,0,0,0,165,0,"3,770","1,750",0,0,985,620,0,25,110,260,0,0,0,255,425,30,0,0,100,0,0,280,0,30,0,95,50,25,0,10,30,0,...,30,0,0,0,0,25,"4,170",80,60,0,"2,180",30,10,10,0,410,20,65,"1,145",55,425,185,"13,075",10,0,"11,455","1,405",60,0,145,10,65,45,0,25,0,0,180,10,0,50,55,0,0,0,0,0,0,0,0
2,Alderwood,0,"1,720",305,200,15,100,"2,355",10,100,"2,245",0,15,0,0,20,740,15,"9,135","3,940",0,0,"2,320","1,900",0,150,235,855,0,0,0,850,"1,150",70,0,20,170,0,0,940,0,50,0,230,55,10,10,115,50,10,...,25,0,0,0,0,0,575,0,0,0,495,20,0,0,0,50,20,0,30,50,0,10,"1,295",10,0,420,660,50,0,75,0,10,0,0,0,0,110,45,0,0,0,0,0,10,0,0,0,0,0,0
3,Annex,0,"5,225",475,345,20,115,"5,255",60,705,"4,655",0,10,10,0,15,545,0,"21,055","11,725",10,0,"6,745","5,235",10,690,"1,160","2,670",0,0,0,"2,665","4,310",390,0,75,940,20,0,"3,030",10,160,10,965,190,180,65,270,250,65,...,220,10,0,0,0,40,"1,320",35,45,0,965,10,0,25,10,125,15,10,85,50,10,70,"3,945",20,30,"2,400",435,285,0,635,10,65,20,10,105,50,0,145,15,0,30,25,140,110,15,10,0,0,0,10
4,Banbury-Don Mills,0,"2,835",230,175,10,60,"3,230",0,325,"3,035",0,0,10,0,15,345,0,"13,435","6,460",10,10,"3,615","3,075",0,340,390,"1,095",0,0,0,"1,100","1,955",220,0,40,385,0,0,"1,295",0,80,10,365,100,85,0,90,130,10,...,325,0,0,0,10,30,"2,940",50,10,0,"2,365",30,40,0,0,325,10,20,135,20,65,80,"6,920",0,0,"4,850","1,280",275,0,575,0,35,0,15,90,0,0,115,0,0,40,45,20,20,10,0,0,0,0,0

*ethinic data saving as csv file*

In [32]:
df_ethinic.to_csv('../Data/Cleaned/Ethinic.csv', index=False)

## *Visible Minorities*

In [43]:
df_minor = df_profiles[(df_profiles.Category == 'Visible minority')]

In [44]:
df_minor = df_minor.T.reset_index()

In [45]:
df_minor = df_minor.iloc[3:,:]

In [46]:
df_minor.columns = df_minor.iloc[0]

In [47]:
df_minor.drop([3,4], axis=0, inplace=True)

In [49]:
df_minor.reset_index(inplace=True)

In [52]:
df_minor.drop(columns=['index','Total - Visible minority for the population in private households - 25% sample data'], axis = 1,inplace=True)

In [53]:
df_ethinic.rename(columns={"Characteristic": "Neighbourhood"}, inplace=True)

In [54]:
df_minor.head()

3,Characteristic,Latin American,Total visible minority population,South Asian,Chinese,Black,Filipino,Arab,Southeast Asian,West Asian,Korean,Japanese,Visible minority; n.i.e.,Multiple visible minorities,Not a visible minority
0,Agincourt North,170,"26,365","5,315","16,460","1,340","1,420",275,260,125,70,60,245,630,"2,465"
1,Agincourt South-Malvern West,230,"20,155","4,190","11,110","1,545","1,280",300,155,375,140,40,275,490,"3,320"
2,Alderwood,180,"2,490",540,275,300,615,90,55,20,65,35,140,180,"9,535"
3,Annex,405,"7,270","1,125","2,145",935,350,300,190,340,605,255,125,480,"21,380"
4,Banbury-Don Mills,350,"12,700","2,825","4,630",970,"1,135",550,110,755,560,210,155,470,"14,290"

In [55]:
df_minor.to_csv('../Data/Cleaned/minor.csv', index=False)